
      <%= form_with(model: order) do |form| %>
        <% if order.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>
      
            <ul>
              <% order.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      
      
            <div class="row">
              <div class="field col-md-3 ">
                <%= form.label :order_number %>
                <%= form.text_field :order_number, value: @order_id, class: "form-control", :disabled => true %>
              </div>

              <div class="field col-md-3 ">
                <%= form.label :issued_by %>
                <%= form.text_field :issued_by, value: current_user.email, class: "form-control", :disabled => true %>
              </div>

              <div class="field col-md-12">
                <%= form.label :title %>
                <%= form.text_field :title, class: "form-control", :disabled => false %>
              </div>
            </div>
      
        <div class="row">
          <div class="field col-md-12">
            <%= form.label :description %>
            <%= form.text_area :description, class: "form-control", :disabled => false %>
          </div>
        </div> 
        
        <div class="form-group">  
          <%= form.submit class: 'btn btn-primary', :disabled => false  %>
        </div>
        <hr>

        <div class="row">
          <div class="field col-md-3">
            <%= form.label :recieved %>
            
              <%= form.select :recieved, options_for_select(["Yes", "No"]),{:prompt => "Select One"}, 
                                    {class: "form-control", 
                                    :disabled => (current_user.is_admin? || current_user.department == "Construction" ? false : true)} %>
            
            </div>

          <div class="field col-md-3">
            <%= form.label :recieved_by %>
            <%= form.text_field :recieved_by, class: "form-control", :disabled => true %>
          </div>
          <div class="field col-md-3">
            <%= form.label :approved %>
            <%= form.select :approved, options_for_select(["Yes", "No"]),{:prompt => "Select One"}, {class: "form-control",:disabled => true} %>
          </div>
          <div class="field col-md-3">
            <%= form.label :approved_by %>
            <%= form.text_field :approved_by, class: "form-control", :disabled => true %>
          </div>
        </div>
      
        <div class="row">
          <div class="field col-md-3">
            <%= form.label :closed %>
            <%= form.select :closed, options_for_select(["Yes", "No"]),{:prompt => "Select One"}, {class: "form-control",:disabled => true} %>
          </div>
          <div class="field col-md-3">
            <%= form.label :closed_by %>
            <%= form.text_field :closed_by, class: "form-control", :disabled => true %>
          </div>
        </div>

        
        <div class="row">
          <div class="field col-md-3">
            <%= form.label :status %>
            <%= form.select :status, options_for_select(["Yes", "No"]),{:prompt => "Select One"}, {class: "form-control",:disabled => true} %>
          </div>
          <div class="field col-md-3">
            <%= form.label :actions %>
            <%= form.text_field :actions, class: "form-control", :disabled => false %>
          </div>
        </div>
      
        <div class="row">
          <div class="field col-md-12">
            <%= form.label :remarks %>
            <%= form.text_area :remarks, class: "form-control", :disabled => false %>
          </div>
        </div>
      
      
  
      
      
      <% end %>
 


   