<p id="notice"><%= notice %></p>

<h1>Orders</h1>
<div class="row justity-content-center">
    <div class="col-10">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="col-2">Order Number</th>
              <th class="col-2">Title</th>
              <th class="col-4">Description</th>
              <th>Recieved</th>
              
              <th>Approved</th>
              
              <th>Closed</th>
              
              
              <th>Status</th>
              <th>Action</th>
              
            </tr>
          </thead>

          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td><%= order.order_number %></td>
                <td><%= order.title %></td>
                <td><%= order.description %></td>
                <td><%= order.recieved %></td>
                
                <td><%= order.approved %></td>
                
                <td><%= order.closed %></td>
                
               
                <td><%= order.status %></td>
                
                <td><%= link_to 'Show', order, class: 'btn btn-primary mb-1' %>
                    <%= link_to 'Edit', edit_order_path(order), class: 'btn btn-warning mb-1' %>
                    <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br>
        <%= link_to 'Create New Order', new_order_path, class: 'btn btn-success' %>
    
    </div>
</div>