<p id="notice"><%= notice %></p>

<div class='search-area'>
    <%= form_tag search_order_path, remote: true, method: :get do %>
        <div class="form-group row">
            <div class="col-sm-9  no-right-padding">
              <%= text_field_tag :order, params[:order], {placeholder: 'order_number(WO-xx-x-yyyy) , title , or description', autofocus: true, class: "form-control form-control-lg"}  %>        
            </div>
            <div class="col-sm-3 no-left-padding">
                <%= button_tag type: :submit, class: "btn btn-success" do %>
                    <%= fa_icon 'search 2x' %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>
      
<div id="search_results"></div>

<h1 class="mt-5 mb-3">Last ten Work Orders</h1>

        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="col-2">Order Number</th>
              <th class="col-2">Title</th>
              <th class="col-4">Description</th>
              <th>Recieved</th>
              <th>Approved</th>
              <th>Closed</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td><%= order.order_number %></td>
                <td><%= order.title %></td>
                <td><%= order.description %></td>
                <td><%= order.recieved %></td>
                <td><%= order.approved %></td>
                <td><%= order.closed %></td>
                <td><%= order.status %></td> 
                <td><%= link_to 'Show', order, class: 'btn btn-primary mb-1' %>
                    <% if current_user.is_admin? || current_user.id == order.user_id || current_user.position == "Fields General Manager" %>
                      <%= link_to 'Edit', edit_order_path(order), class: 'btn btn-warning mb-1' %>
                    <% end %>
                    <%= (link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger') if current_user.is_admin? %> 
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br>
        <%= link_to 'Create New Order', new_order_path, class: 'btn btn-success' %>
    

