
<h1>Orders needs approval</h1>
<% if current_user.position == "Fields General Manager" %>   
    <% if !@pendding_orders.empty? %>
        <div class="table-scroll">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                    <th class="col-2">Order Number</th>
                    <th class="col-2">Title</th>
                    <th class="col-4">Description</th>
                    <th>Recieved</th>
                    <th>Approved</th>
                    <th>Closed</th>
                    <th>Status</th>
                    <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                        <% @pendding_orders.each do |order| %>
            
                            <tr>
                                <td><%= order.order_number %></td>
                                <td><%= order.title %></td>
                                <td><%= order.description %></td>
                                <td><%= order.recieved %></td>
                                <td><%= order.approved %></td>
                                <td><%= order.closed %></td>
                                <td><%= order.status %></td>
                                <td><%= link_to 'Show', order, class: 'btn btn-primary mb-1' %>
                                    <% if current_user.is_admin? || current_user.id == order.user_id || current_user.position == "Fields General Manager" %>
                                    <%= link_to 'Edit', edit_order_path(order), class: 'btn btn-warning mb-1' %>
                                    <% end %>
                                    <%= (link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger') if current_user.is_admin? %>
                                </td>
                            </tr>
                        <% end %>
                </tbody>
            </table>
        </div>
    <% else %>
        <h2 class="secondary mt-5 mb-5"><span> There are no pendding records for you</span></h2>
    <% end %>
<% else %>
    <h2 class="secondary mt-5 mb-5"><span> items here for fields manager approvals</span></h2>
<% end %>


<h1>Orders Issued by Me</h1>

<% if !current_user.orders.empty? %>
<div class="table-scroll">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
            <th class="col-2">Order Number</th>
            <th class="col-2">Title</th>
            <th class="col-4">Description</th>
            <th>Recieved</th>
            <th>Approved</th>
            <th>Closed</th>
            <th>Status</th>
            <th>Action</th>
            </tr>
        </thead>
        <tbody>
                <% current_user.orders.each do |order| %>
    
                    <tr>
                        <td><%= order.order_number %></td>
                        <td><%= order.title %></td>
                        <td><%= order.description %></td>
                        <td><%= order.recieved %></td>
                        <td><%= order.approved %></td>
                        <td><%= order.closed %></td>
                        <td><%= order.status %></td>
                        <td><%= link_to 'Show', order, class: 'btn btn-primary mb-1' %>
                            <% if current_user.is_admin? || current_user.id == order.user_id || current_user.position == "Fields General Manager" %>
                            <%= link_to 'Edit', edit_order_path(order), class: 'btn btn-warning mb-1' %>
                            <% end %>
                            <%= (link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger') if current_user.is_admin? %>
                        </td>
                    </tr>
                <% end %>
        </tbody>
    </table>
</div>
<% else %>
    <h2 class="secondary mt-5 mb-5"><span> You have not created any orders</span> </h2>
<% end %>


